@import url("reset.css");

body {
	text-align: center;
}

.name{
    font-weight: bold;

}

.title{
    font-style:italic;
}

.company{
    font-variant: small-caps;
}



.slogan {
    font-style: oblique;
}

.phone {
    font-variant-numeric: oldstyle-nums;
}

article{
    padding: 2rem;
    border: 2px solid #333;
    margin: 2rem auto;
    border-radius: 0.25rem;
    width: 100%;
    background-image: url(../images/stockMarketGraph.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

div {
    padding: 2rem;
    border: 2px solid #333;
    margin: 2rem auto;
    border-radius: 0.25rem;
    width: 100%;
    
}



main {
	margin: 1.6rem 0 1.6rem;
    padding: 2rem;
}

.contact-info{
    background-color: aliceblue;
}

.company-details{
    background-color: aliceblue;
}







@media (min-width: 600px){
    article {
        display: flex;
        flex-direction: column;
        margin:auto;
    }

    .img-container {
        display: flex;
       align-items: center;
       justify-content: center;
       width: 40%;
    }

    .detail-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .contact-card{
        display: flex;
        justify-content: center;
        height: 600px;
}

@media (min-width: 768px){

    article{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: auto;
        width: 80%;
    }
    .img-container{
        width : 80%;
    }

    .detail-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contact-card{
        display: flex;
        justify-content: center;
        height: 600px;
    }
}